<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418404573707-5k03foiahskopcg8rvt51jp8jerfo7uk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418404573707-5k03foiahskopcg8rvt51jp8jerfo7uk</string>
	<key>API_KEY</key>
	<string>AIzaSyBPGYzO0MIG6a2jGPd4sPzRDOVfyJPhJKw</string>
	<key>GCM_SENDER_ID</key>
	<string>418404573707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fridgemaster</string>
	<key>PROJECT_ID</key>
	<string>kitchenmaster-ae07b</string>
	<key>STORAGE_BUCKET</key>
	<string>kitchenmaster-ae07b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418404573707:ios:08eebddefccd62b0691d0e</string>
</dict>
</plist>